.menu {
  position: fixed;
  color: #39a9cb;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
}

.menu-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.brand h2, .brand a {
  display: flex;
  align-items: center;
  margin-left: 15px;
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.brand:hover a:hover {
  color: #39a9cb;
}

.brand:hover span {
  color: white;
  transition: 0.5s ease;
}

.brand h2 span {
  font-size: 14px;
  color: #39a9cb;
  margin: 0 5px;
}

.menu .navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  text-align: center;
  margin-right: 15px;
}

.menu .nav-item {
  list-style: none;
  margin: 10px 10px;
}

.menu .nav-item a {
  color: white;
  text-decoration: none;
}

.menu .nav-item a:hover {
  color: #39a9cb;
  text-decoration: none;
}

section {
  border-bottom: 0.5px solid #39a9cb;
}

.inicio {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 250px
}

.perfil {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.foto-perfil {
  display: flex;
}

.foto-perfil img {
  width: 280px;
  height: auto;
  border-radius: 50%;
}

.info-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-perfil h1 {
  display: flex;
  font-size: 80px;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.info-perfil h1 span {
  font-size: 60px;
  margin: 10px;
  color: #39a9cb;
}

.info-perfil h2 {
  font-size: 20px;
  letter-spacing: 3px;
  margin: -10px 10px 10px 10px;
  text-align: left;
}

.info-perfil h2 a {
  color: #39a9cb;
  text-decoration: none;
}

.info-perfil p {
  width: 90%;
  font-size: 20px;
  margin: 20px 10px;
  line-height: 30px;
}

.info-perfil p span {
  color: #39a9cb;
}

.social {
  display: flex;
  justify-content: center;
}

.social .btn {
  font-size: 24px;
  padding: 10px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  transition: 0.5s ease;
}

.social a {
  text-decoration: none;
}

.social a button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  margin: 15px;
}

.social .btn:hover {
  cursor: pointer;
}

.btn-social {
  border-radius: 50%;
  padding: 15px;
  font-size: 32px;
}

.btn-social:hover {
  background: #5a5a5a;
}

.titular {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  font-size: 30px;
  border-right: 3px solid #39a9cb;
}

.titular span {
  color: #39a9cb;
}

.educacion {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: 100vh;
}

.cursos {
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.curso {
  margin: 15px;
}

.curso h3 {
  font-size: 80px;
  color: white;
}

.curso span {
  color: #39a9cb;
}

.habilidades {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.habilidades .titular,
.proyectos .titular {
  border-right: none;
  border-bottom: 3px solid #39a9cb;
  padding: 30px;
  margin: 50px;
  margin-top: 0px;
  font-size: 60px;
}

.contenedor-habilidades {
  display: flex;
  flex-direction: column;
}

.habilidad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.habilidad h3 {
  font-size: 50px;
  color: #39a9cb;
  width: 100%;
  text-align: center;
  margin: 15px;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logos svg {
  height: 80px;
  width: auto;
  color: white;
  margin: 30px;
  z-index: -1;
}

.logos svg:hover {
  color: rgb(165, 165, 165);
}

.proyectos {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contenedor-proyectos {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-gap: 30px;
}

.proyecto {
  position: relative;
  width: 50%;
}

.proyecto img {
  opacity: 1;
  display: block;
  width: 400px;
  height: auto;
  border-radius: 5px;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.proyecto .info {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  width: 400px;
  top: 55%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.proyecto:hover img {
  opacity: 0.3;
}

.proyecto:hover .info {
  opacity: 1;
}

.proyecto h3 {
  font-size: 24px;
}

.proyecto h4 {
  font-size: 16px;
}

.btn {
  font-size: 18px;
  padding: 10px;
  font-weight: 600;
  border: none;
  border-radius: 50px;
  transition: 0.5s ease;
  margin: 15px;
  font-family: 'Merriweather Sans', sans-serif;
  width: 150px;
}

.btn:hover {
  background: #39a9cb;
  cursor: pointer;
}

.btn a {
  text-decoration: none;
  color: #171717
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-content: center;
  background: #39a9cb;
}


.footer p{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #171717;
  font-weight: 600;
  font-size: 15px;
}

.footer p span {
  font-size: 15px;
  padding: 3px 10px 0 10px;
}
